<section class="header-mid">
  <div class="header-middle container refueling">
      <h1 class="header__title">
          Заправка <br/> кондиционера
      </h1>
      <p class="header__description">ЛЮБОЙ СЛОЖНОСТИ</p>
  
      <form class="form shadow">
        <p class="form-title">Оставить заявку</p>
        <p class="form-description">
          Мы отправим Вам актуальный прайс-лист и действующие акционные предложения
        </p>
        <input
          class="form-input"
          minlength="2"
          type="text"
          name="username"
          id="form-username"
          placeholder="Имя"
          required
        />
        <input
          class="form-input"
          type="tel"
          name="telephon"
          id="form-telephon"
          placeholder="Ваш телефон"
          required
        />
        <button type="submit" class="button desktop btn-bg-color">Отправить</button>
      </form>
    
</div>
</section>