/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './bass/normalize';
@import './bass/common';
@import './components/container';

@import './utils/mixin';
@import './components/title-mb';
@import './utils/variables';
@import './utils/visually-hidden';

@import './layout/cleaner-header-mid';
@import './layout/diagnostics-header-mid';
@import './layout/header';
@import './layout/service-maintenance';
@import './layout/services-and-prices';
@import './layout/brands';
@import './layout/mounting';
@import './layout/about-company';
@import './layout/gallery';
@import './layout/reviews';
@import './utils/slick';
