<section class="about-company section">
  <div class="about-company container">
    <h1 class="about-company__title title">О компании</h1>
    <p class="about-company__desсription">
      <strong>Сфера</strong> — современный сервисный центр,который специализируется на
      профессиональной установке, ремонте и сервисном обслуживании кондиционеров в Днепре. Уже не
      один год мы занимаемся предоставлением услуг по установке кондиционеров и мульти-сплит систем
      с дальнейшим их обслуживанием.
    </p>
    <div class="about-company__img-wrapper">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/desktop/about-company/company@1x.webp 1x,
            ./img/desktop/about-company/company@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/desktop/about-company/company@1x.jpg 1x,
            ./img/desktop/about-company/company@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/tablet/about-company/company@1x.webp 1x,
            ./img/tablet/about-company/company@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/tablet/about-company/company@1x.jpg 1x,
            ./img/tablet/about-company/company@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/mobile/about-company/company@1x.webp 1x,
            ./img/mobile/about-company/company@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/mobile/about-company/company@1x.jpg 1x,
            ./img/mobile/about-company/company@2x.jpg 2x
          "
        />
        <img class="about-company__img" loading="lazy" src="#" alt="О компании" />
      </picture>
    </div>
    <p class="about-company__desсription mb">
      <strong>Установка и ремонт кондиционеров осуществляется исключительно “под ключ”</strong>
    </p>
    <p class="about-company__desсription last-mb">
      Професионально устанавливаем как внутренний так и наружный блоки кондиционера, диагностируем
      неисправности, заменяем вышедшие из строя детали, заправляем кондиционеры фрионом.
    </p>
    <button type="button" class="button">Получите консультацию</button>
  </div>
</section>
