<section class="about-company section">
  <div class="about-company container">
    <h1 class="about-company__title title">О компании</h1>
    <p class="about-company__desсription">
      <strong>«СФЕРА» </strong> — современный сервис-центр, предоставляющий широкий спектр услуг по установке, ремонту и обслуживанию кондиционеров в Днепре. Благодаря многолетнему опыту работы и высокому уровню профессионализма сотрудников наша компания предлагает комплексный подход в решении вопросов с системами кондиционирования – от квалифицированной консультации до монтажных работ любой сложности. Клиентоориентированность – наш основной принцип работы. Для удобства клиентов мы выполняем заказы «под ключ», быстро и качественно реализуя поставленные задачи. 
    </p>
    <div class="about-company__img-wrapper">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/desktop/about-company/company@1x.webp 1x,
            ./img/desktop/about-company/company@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/desktop/about-company/company@1x.jpg 1x,
            ./img/desktop/about-company/company@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/tablet/about-company/company@1x.webp 1x,
            ./img/tablet/about-company/company@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/tablet/about-company/company@1x.jpg 1x,
            ./img/tablet/about-company/company@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/mobile/about-company/company@1x.webp 1x,
            ./img/mobile/about-company/company@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/mobile/about-company/company@1x.jpg 1x,
            ./img/mobile/about-company/company@2x.jpg 2x
          "
        />
        <img class="about-company__img" loading="lazy" src="#" alt="О компании" />
      </picture>
      </div>
      <div class="about-company__img-wrapper2">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/about-company/company@1x.webp 1x,
              ./img/desktop/about-company/company@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/about-company/company@1x.jpg 1x,
              ./img/desktop/about-company/company@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/about-company/company@1x.webp 1x,
              ./img/tablet/about-company/company@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/about-company/company@1x.jpg 1x,
              ./img/tablet/about-company/company@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/about-company/company@1x.webp 1x,
              ./img/mobile/about-company/company@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/about-company/company@1x.jpg 1x,
              ./img/mobile/about-company/company@2x.jpg 2x
            "
          />
          <img class="about-company__img" loading="lazy" src="#" alt="О компании" />
        </picture>
    </div>
    <!-- <p class="about-company__desсription mb">
      <strong>Установка и ремонт кондиционеров осуществляется исключительно “под ключ”</strong>
    </p> -->
    <p class="about-company__desсription last-mb">
      Мы всегда готовы:</p>
      <ul class="about-company-list list">
        <li class="about-company-list-item">помочь выбрать наиболее подходящую климатическую технику, исходя из индивидуальных потребностей заказчика;</li>
        <li class="about-company-list-item">выполнить проект системы кондиционирования и вентиляции;</li>
        <li class="about-company-list-item">произвести монтаж/демонтаж кондиционера любого типа;</li>
        <li class="about-company-list-item">диагностировать и устранить неполадки в работе климатической техники, используя лишь оригинальные запчасти и специализированное оборудование;</li>
        <li class="about-company-list-item">обеспечить долговечность работы системы кондиционирования за счет регулярного сервисного обслуживания (своевременной чистке приборов, дозаправке хладагентов).</li>
      </ul>
      <p class="about-company__desсription last-mb"> Более детальную информацию можно получить при консультации.</p>
      
    
    <button type="button" class="button">Получите консультацию</button>
  </div>
</section>
