<section class="faq section">
    <div class="container">
        <h1 class="faq__title">
            FAQ
        </h1>
        <ul class="faq__list">
            <li class="faq__list-item">
                <p class="question">Как подобрать кондиционер?</p>
            </li>
            <li class="faq__list-item"><p class="question">Что нужно знать о сплит-системах?</p></li>
            <li class="faq__list-item"><p class="question">Какой тип кондиционера выбрать?</p></li>
            <li class="faq__list-item"><p class="question">Чисто или грязно в помещении после установки кондиционера?</p></li>
            <li class="faq__list-item"><p class="question">Как долго длится монтаж кондиционера?</p></li>
            <li class="faq__list-item"><p class="question">Как часто нужны дозаправки фрионом?</p></li>
            <li class="faq__list-item"><p class="question">Как часто нужно чистить кондиционер?</p></li>
        </ul>
    </div>
</section>