<section class="faq section">
    <div class="container">
        
        <h1 class="faq__title title">
            FAQ
        </h1>
        <div class="accordion">
            
                <div class="faq__wrapper">
                    <p class="question">Монтаж кондиционера в Днепре: цена и от чего она зависит?</p> 
                    <p class="answer"> Наша компания предоставляет широкий спектр услуг в сфере кондиционирования, поэтому для удобства клиентов составлен подробный прайс-лист. Итоговая стоимость работ напрямую зависит от типа и назначения оборудования – установка бытовых и промышленных кондиционеров значительно отличается из-за объема необходимых работ. На цену также влияет сложность монтажа: отсутствие свободного доступа до точки установки наружного блока, при котором требуется использование автовышки или снаряжения для высотных работ; нестандартная толщина перекрытий (стен), при которой понадобится спецоборудование и т.п. В стоимость также входят расходные материалы и дополнительные услуги (сварочные работы, штробление стен, установка электроточек, доставка кондиционера и т.д.).
                        На стоимость установки кондиционера также повлияет значительным образом наша гибкая система скидок, которую мы предоставляем постоянным и новым клиентам!
                        Предварительный расчет стоимости можно осуществить по телефону или ознакомиться с актуальным прайс-листом, заполнив форму на нашем сайте.
                        </p>
                </div>
                <div class="faq__wrapper">
                    <p class="question">Как долго длится установка кондиционера?</p> 
                    <p class="answer"> Время, которое потребуется на монтаж климатической техники, индивидуально в каждом случае. Например, установка сплит системы – самого распространенного типа кондиционеров для бытового использования, который состоит из наружного и внутреннего блоков – занимает от двух часов до нескольких дней. Скорость выполнения работ будет зависеть от ряда факторов:
                        насколько свободен доступ до места установки наружного блока (понадобиться ли доступ на крышу или лестница, есть ли нюансы с фасадом здания и прочее);
                        требуется ли штробление стен для укладки трассы;
                        каким образом будет осуществляться вывод дренажа – наружно или с подключением к канализационной системе и пр.
                        Квалификация наших специалистов позволяет произвести установку настолько быстро, насколько это возможно в сложившейся ситуации. При этом мы не допускаем излишней спешки, что гарантирует высокое качество выполненных работ.
                        </p>
                </div>
                <div class="faq__wrapper">
                    <p class="question">Как подготовить квартиру/дом к установке кондиционера?</p> 
                    <p class="answer">Если монтаж кондиционера планируется в жилом помещении, то до начала работ целесообразно выполнить несколько простых рекомендаций:
                        освободить пространство возле точек установки климатического оборудования (убрать хрупкие вещи, мебель и комнатные растения, которые находятся в непосредственной близости);
                        организовать доступ (при необходимости) на крышу;
                        позаботиться о маленьких детях и домашних питомцах на время проведения работ, которые могут испытать сильный стресс от шума перфоратора.
                        Все остальное сделают наши специалисты, которые постараются максимально быстро и аккуратно провести все необходимые работы.
                        </p>
                </div>
                <div class="faq__wrapper">
                    <p class="question">Что такое установка кондиционера «в два этапа»?</p> 
                    <p class="answer">Лучшее время для монтажа системы кондиционирования – во время проведения ремонтных работ в помещении, ведь можно предусмотрительно «спрятать» фреоновую магистраль, подключить дренаж к системе канализации, установить электроточки в наиболее подходящих местах и пр. В таком случае при заказе монтажа кондиционера на первом этапе выполняются все подготовительные мероприятия – от проектирования до укладки коммуникаций. Лишь по завершению всех ремонтно-отделочных работ в помещении, специалисты приступают ко второму этапу – непосредственному креплению внутреннего блока, наладке и проверке системы.</p>
                </div>
                <div class="faq__wrapper">
                    <p class="question">Как производится монтаж внешнего блока кондиционера на утепленный фасад?</p> 
                    <p class="answer">При монтаже внешнего блока кондиционера наши специалисты в индивидуальном порядке оценивают все варианты установки, и обязательно консультируют клиента в этом вопросе. Если нет более подходящего места (с точки зрения надежности крепления или защищенности от воздействия негативных факторов окружающей среды), то оборудование будет монтироваться на утепленный или вентилируемый фасад с учетом всех требований. В таком случае применяются специальные крепежи для кронштейнов, а часть утеплителя, как правило, разбирается.</p>
                </div>
                <div class="faq__wrapper">
                    <p class="question">Какие документы, подтверждающие заказ услуг, может получить клиент?</p> 
                    <p class="answer">Наша компания предоставляет клиентам проектную документацию (при заказе проектирования систем кондиционирования и вентиляции), а также акты выполненных работ.
                        Не нашли ответ на интересующий вопрос? Обращайтесь к нашим специалистам за консультацией!
                        </p>
                </div>  
            </div>
    </div>
    
</section>