<section class="faqs section">
    <div class="container">
        
        <h1 class="faq__title title">
            FAQs
        </h1>
        <div class="faq">
            
                
                    <div class="question"><h3>Монтаж кондиционера в Днепре: цена и от чего она зависит?</h3>
                     <svg width = "15" height="15" viewBox="0 0 42 25">
                         <path
                         d="M3 3L21 21L39 3"
                         fill="none"
                         stroke="black"
                            stroke-width="7"
                         stroke-linecap="round"/>
                     </svg>
                    </div> 
                    <div class="answer">
                         <p>Наша компания предоставляет широкий спектр услуг в сфере кондиционирования, поэтому для удобства клиентов составлен подробный прайс-лист. Итоговая стоимость работ напрямую зависит от типа и назначения оборудования – установка бытовых и промышленных кондиционеров значительно отличается из-за объема необходимых работ. На цену также влияет сложность монтажа: отсутствие свободного доступа до точки установки наружного блока, при котором требуется использование автовышки или снаряжения для высотных работ; нестандартная толщина перекрытий (стен), при которой понадобится спецоборудование и т.п. В стоимость также входят расходные материалы и дополнительные услуги (сварочные работы, штробление стен, установка электроточек, доставка кондиционера и т.д.).
                        На стоимость установки кондиционера также повлияет значительным образом наша гибкая система скидок, которую мы предоставляем постоянным и новым клиентам!
                        Предварительный расчет стоимости можно осуществить по телефону или ознакомиться с актуальным прайс-листом, заполнив форму на нашем сайте.
                        </p>
                    </div>
                </div>
                    <div class="faq">
                    <div class="question"><h3>Как долго длится установка кондиционера?</h3>
                        <svg  width = "15" height="15" viewBox="0 0 42 25">
                            <path
                            d="M3 3L21 21L39 3"
                            fill="none"
                            stroke="black"
                            stroke-width="7"
                            stroke-linecap="round"/>
                        </svg></div> 
                    <div class="answer">
                         <p>Время, которое потребуется на монтаж климатической техники, индивидуально в каждом случае. Например, установка сплит системы – самого распространенного типа кондиционеров для бытового использования, который состоит из наружного и внутреннего блоков – занимает от двух часов до нескольких дней. Скорость выполнения работ будет зависеть от ряда факторов:
                            насколько свободен доступ до места установки наружного блока (понадобиться ли доступ на крышу или лестница, есть ли нюансы с фасадом здания и прочее);
                            требуется ли штробление стен для укладки трассы;
                            каким образом будет осуществляться вывод дренажа – наружно или с подключением к канализационной системе и пр.
                            Квалификация наших специалистов позволяет произвести установку настолько быстро, насколько это возможно в сложившейся ситуации. При этом мы не допускаем излишней спешки, что гарантирует высокое качество выполненных работ.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <div class="question"><h3>Как подготовить квартиру/дом к установке кондиционера?</h3>
                        <svg width = "15" height="10" viewBox="0 0 42 25">
                            <path
                            d="M3 3L21 21L39 3"
                            fill="none"
                            stroke="black"
                            stroke-width="7"
                            stroke-linecap="round"/>
                        </svg></div> 
                    <div class="answer">
                         <p>Если монтаж кондиционера планируется в жилом помещении, то до начала работ целесообразно выполнить несколько простых рекомендаций:
                            освободить пространство возле точек установки климатического оборудования (убрать хрупкие вещи, мебель и комнатные растения, которые находятся в непосредственной близости);
                            организовать доступ (при необходимости) на крышу;
                            позаботиться о маленьких детях и домашних питомцах на время проведения работ, которые могут испытать сильный стресс от шума перфоратора.
                            Все остальное сделают наши специалисты, которые постараются максимально быстро и аккуратно провести все необходимые работы.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <div class="question"><h3>Что такое установка кондиционера «в два этапа»?</h3>
                        <svg width = "15" height="10" viewBox="0 0 42 25">
                            <path
                            d="M3 3L21 21L39 3"
                            fill="none"
                            stroke="black"
                            stroke-width="7"
                            stroke-linecap="round"/>
                        </svg></div> 
                    <div class="answer">
                         <p>Лучшее время для монтажа системы кондиционирования – во время проведения ремонтных работ в помещении, ведь можно предусмотрительно «спрятать» фреоновую магистраль, подключить дренаж к системе канализации, установить электроточки в наиболее подходящих местах и пр. В таком случае при заказе монтажа кондиционера на первом этапе выполняются все подготовительные мероприятия – от проектирования до укладки коммуникаций. Лишь по завершению всех ремонтно-отделочных работ в помещении, специалисты приступают ко второму этапу – непосредственному креплению внутреннего блока, наладке и проверке системы.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <div class="question"><h3>Как производится монтаж внешнего блока кондиционера на утепленный фасад?</h3>
                        <svg width = "15" height="10" viewBox="0 0 42 25">
                            <path
                            d="M3 3L21 21L39 3"
                            fill="none"
                            stroke="black"
                            stroke-width="7"
                            stroke-linecap="round"/>
                        </svg></div> 
                        
                    <div class="answer">
                         <p>При монтаже внешнего блока кондиционера наши специалисты в индивидуальном порядке оценивают все варианты установки, и обязательно консультируют клиента в этом вопросе. Если нет более подходящего места (с точки зрения надежности крепления или защищенности от воздействия негативных факторов окружающей среды), то оборудование будет монтироваться на утепленный или вентилируемый фасад с учетом всех требований. В таком случае применяются специальные крепежи для кронштейнов, а часть утеплителя, как правило, разбирается.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <div class="question"><h3>Какие документы, подтверждающие заказ услуг, может получить клиент?</h3>
                        <svg width = "15" height="10" viewBox="0 0 42 25">
                            <path
                            d="M3 3L21 21L39 3"
                            fill="none"
                            stroke="black"
                            stroke-width="7"
                            stroke-linecap="round"/>
                        </svg></div> 
                    <div class="answer">
                         <p>Наша компания предоставляет клиентам проектную документацию (при заказе проектирования систем кондиционирования и вентиляции), а также акты выполненных работ.
                            Не нашли ответ на интересующий вопрос? Обращайтесь к нашим специалистам за консультацией!
                        </p>
                    </div>
                </div>
        
    </div>
    
</section>