<section class="gallery section">
    <div class="container">
        <h1 class="gallery__title title">
            Галерея выполненных работ
        </h1>
        <ul class="gallery__list list">
            <li class="gallery__item">
              <div class="box">
                <div class="gallery__img-wrapper"><a href="" class="gallery__img-link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/gallery/before1@1x.webp 1x,
                            ./img/desktop/gallery/before1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/gallery/before1@1x.jpg 1x,
                            ./img/desktop/gallery/before1@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/gallery/before1@1x.webp 1x,
                            ./img/tablet/gallery/before1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/gallery/before1@1x.jpg 1x,
                            ./img/tablet/gallery/before1@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/gallery/before1@1x.webp 1x,
                            ./img/mobile/gallery/before1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/gallery/before1@1x.jpg 1x,
                            ./img/mobile/gallery/before1@2x.jpg 2x
                          "
                        />
                        <img class="gallery__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                      </picture>
                </a></div>
                <div class="gallery__img-wrapper"><a href="" class="gallery__img-link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/gallery/after1@1x.webp 1x,
                            ./img/desktop/gallery/after1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/gallery/after1@1x.jpg 1x,
                            ./img/desktop/gallery/after1@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/gallery/after1@1x.webp 1x,
                            ./img/tablet/gallery/after1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/gallery/after1@1x.jpg 1x,
                            ./img/tablet/gallery/after1@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/gallery/after1@1x.webp 1x,
                            ./img/mobile/gallery/after1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/gallery/after1@1x.jpg 1x,
                            ./img/mobile/gallery/after1@2x.jpg 2x
                          "
                        />
                        <img class="gallery__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                      </picture>
                </a></div>
              </div>
              <div class="box">
                <div class="gallery__img-wrapper"><a href="" class="gallery__img-link">
                  <picture>
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                          ./img/desktop/gallery/before2@1x.webp 1x,
                          ./img/desktop/gallery/before2@2x.webp 2x
                        "
                        type="image/webp"
                      />
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                          ./img/desktop/gallery/before2@1x.jpg 1x,
                          ./img/desktop/gallery/before2@2x.jpg 2x
                        "
                      />
                      <source
                        media="(min-width: 768px)"
                        srcset="
                          ./img/tablet/gallery/before2@1x.webp 1x,
                          ./img/tablet/gallery/before2@2x.webp 2x
                        "
                        type="image/webp"
                      />
                      <source
                        media="(min-width: 768px)"
                        srcset="
                          ./img/tablet/gallery/before2@1x.jpg 1x,
                          ./img/tablet/gallery/before2@2x.jpg 2x
                        "
                      />
                      <source
                        media="(max-width: 768px)"
                        srcset="
                          ./img/mobile/gallery/before2@1x.webp 1x,
                          ./img/mobile/gallery/before2@2x.webp 2x
                        "
                        type="image/webp"
                      />
                      <source
                        media="(max-width: 768px)"
                        srcset="
                          ./img/mobile/gallery/before2@1x.jpg 1x,
                          ./img/mobile/gallery/before2@2x.jpg 2x
                        "
                      />
                      <img class="gallery__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                    </picture>
              </a></div>
              <div class="gallery__img-wrapper"><a href="" class="gallery__img-link">
                  <picture>
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                          ./img/desktop/gallery/after2@1x.webp 1x,
                          ./img/desktop/gallery/after2@2x.webp 2x
                        "
                        type="image/webp"
                      />
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                          ./img/desktop/gallery/after2@1x.jpg 1x,
                          ./img/desktop/gallery/after2@2x.jpg 2x
                        "
                      />
                      <source
                        media="(min-width: 768px)"
                        srcset="
                          ./img/tablet/gallery/after2@1x.webp 1x,
                          ./img/tablet/gallery/after2@2x.webp 2x
                        "
                        type="image/webp"
                      />
                      <source
                        media="(min-width: 768px)"
                        srcset="
                          ./img/tablet/gallery/after2@1x.jpg 1x,
                          ./img/tablet/gallery/after2@2x.jpg 2x
                        "
                      />
                      <source
                        media="(max-width: 768px)"
                        srcset="
                          ./img/mobile/gallery/after2@1x.webp 1x,
                          ./img/mobile/gallery/after2@2x.webp 2x
                        "
                        type="image/webp"
                      />
                      <source
                        media="(max-width: 768px)"
                        srcset="
                          ./img/mobile/gallery/after2@1x.jpg 1x,
                          ./img/mobile/gallery/after2@2x.jpg 2x
                        "
                      />
                      <img class="gallery__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                    </picture>
              </a></div>
            </div>
            </li>
            <li class="gallery__item">
              <div class="box">
                <div class="gallery__img-wrapper"><a href="" class="gallery__img-link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/gallery/before2@1x.webp 1x,
                            ./img/desktop/gallery/before2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/gallery/before2@1x.jpg 1x,
                            ./img/desktop/gallery/before2@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/gallery/before2@1x.webp 1x,
                            ./img/tablet/gallery/before2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/gallery/before2@1x.jpg 1x,
                            ./img/tablet/gallery/before2@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/gallery/before2@1x.webp 1x,
                            ./img/mobile/gallery/before2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/gallery/before2@1x.jpg 1x,
                            ./img/mobile/gallery/before2@2x.jpg 2x
                          "
                        />
                        <img class="gallery__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                      </picture>
                </a></div>
                <div class="gallery__img-wrapper"><a href="" class="gallery__img-link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/gallery/after2@1x.webp 1x,
                            ./img/desktop/gallery/after2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/gallery/after2@1x.jpg 1x,
                            ./img/desktop/gallery/after2@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/gallery/after2@1x.webp 1x,
                            ./img/tablet/gallery/after2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/gallery/after2@1x.jpg 1x,
                            ./img/tablet/gallery/after2@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/gallery/after2@1x.webp 1x,
                            ./img/mobile/gallery/after2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/gallery/after2@1x.jpg 1x,
                            ./img/mobile/gallery/after2@2x.jpg 2x
                          "
                        />
                        <img class="gallery__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                      </picture>
                </a></div>
              </div>
            </li>
            
        </ul>
    </div>
</section>