<section class="header-mid">
        <div class="header-middle container">
            <h1 class="header__title">
              Установка систем<br />
              кондиционирования
            </h1>
            <p class="header__description">ЛЮБОЙ СЛОЖНОСТИ</p>
        
            <form class="form">
              <p class="form-title">Оставить заявку</p>
              <p class="form-description">
                Получите наш обновленный прайс-лист со сниженными ценами на все услуги
              </p>
              <input
                class="form-input"
                minlength="2"
                type="text"
                name="username"
                id="form-username"
                placeholder="Имя"
                required
              />
              <input
                class="form-input"
                type="tel"
                name="telephon"
                id="form-telephon"
                placeholder="Ваш телефон"
                required
              />
              <button type="submit" class="button desktop">Просчет цены</button>
            </form>
          
    </div>
</section>