<header class="header section">
  <div class="nav-container container">
    <div class="header-top">
      <button type="button" class="openNav">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./img/tablet/header/navmenu@1x.webp 1x, ./img/tablet/header/navmenu@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/tablet/header/navmenu@1x.png 1x, ./img/tablet/header/navmenu@2x.png 2x"
          />
          <source
            media="(max-width: 768px)"
            srcset="./img/mobile/header/navmenu@1x.webp 1x, ./img/mobile/header/navmenu@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="./img/mobile/header/navmenu@1x.png 1x, ./img/mobile/header/navmenu@2x.png 2x"
          />
          <img class="burger-menu" loading="lazy" src="#" alt="Бургер меню" />
        </picture>
      </button>
      <button type="button" class="closeNav is-hidden">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/header/closenav@1x.webp 1x,
              ./img/tablet/header/closenav@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/tablet/header/closenav@1x.png 1x, ./img/tablet/header/closenav@2x.png 2x"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/header/closenav@1x.webp 1x,
              ./img/mobile/header/closenav@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="./img/mobile/header/closenav@1x.png 1x, ./img/mobile/header/closenav@2x.png 2x"
          />
          <img class="burger-menu__close" loading="lazy" src="#" alt="Закрыть Бургер меню" />
        </picture>
      </button>
      <div class="logo">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="./img/desktop/header/logo@1x.webp 1x, ./img/desktop/header/logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="./img/desktop/header/logo@1x.png 1x, ./img/desktop/header/logo@2x.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/tablet/header/logo@1x.webp 1x, ./img/tablet/header/logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/tablet/header/logo@1x.png 1x, ./img/tablet/header/logo@2x.png 2x"
          />
          <source
            media="(max-width: 768px)"
            srcset="./img/mobile/header/logo@1x.webp 1x, ./img/mobile/header/logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="./img/mobile/header/logo@1x.png 1x, ./img/mobile/header/logo@2x.png 2x"
          />
          <img class="header__logo" loading="lazy" src="#" alt="Логотип" />
        </picture>
      </div>
      <div class="contacts">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/header/telephone@1x.webp 1x,
              ./img/tablet/header/telephone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/header/telephone@1x.png 1x,
              ./img/tablet/header/telephone@2x.png 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/header/telephone@1x.webp 1x,
              ./img/mobile/header/telephone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/header/telephone@1x.png 1x,
              ./img/mobile/header/telephone@2x.png 2x
            "
          />
          <img class="header__telephone" loading="lazy" src="#" alt="Логотип" />
        </picture>
      </div>
    </div>
  </div>
  <nav class="nav is-hidden">
    <ul class="cond-nav-list list">
      <li class="cond-nav-item">
        <a href="" class="cond-nav-link-company link">О компании</a>
      </li>
      <li class="cond-nav-item service">
        <div class="link-button">
          <a href="" class="cond-nav-link-service link">Услуги</a>
          <button type="button " class="down">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/tablet/header/arrowdown@1x.webp 1x,
                  ./img/tablet/header/arrowdown@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/tablet/header/arrowdown@1x.png 1x,
                  ./img/tablet/header/arrowdown@2x.png 2x
                "
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./img/mobile/header/arrowdown@1x.webp 1x,
                  ./img/mobile/header/arrowdown@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./img/mobile/header/arrowdown@1x.png 1x,
                  ./img/mobile/header/arrowdown@2x.png 2x
                "
              />
              <img class="header__arrowdown" loading="lazy" src="#" alt="раскрыть меню" />
            </picture>
          </button>
          <button type="button " class="up is-hidden">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/tablet/header/arrowup@1x.webp 1x,
                  ./img/tablet/header/arrowup@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/tablet/header/arrowup@1x.png 1x,
                  ./img/tablet/header/arrowup@2x.png 2x
                "
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./img/mobile/header/arrowup@1x.webp 1x,
                  ./img/mobile/header/arrowup@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./img/mobile/header/arrowup@1x.png 1x,
                  ./img/mobile/header/arrowup@2x.png 2x
                "
              />
              <img class="header__arrowup" loading="lazy" src="#" alt="закрыть меню" />
            </picture>
          </button>
        </div>
        <ul class="nav-service-list list is-hidden">
          <li class="nav-service-list__item">
            <a href="" class="service-list__link-cleaner link"> Чистка кондиционера </a>
          </li>
          <li class="nav-service-list__item">
            <a href="" class="service-list__link-diagnostic link">
              Диагностика работы кондиционера
            </a>
          </li>
          <li class="nav-service-list__item">
            <a href="" class="service-list__link-change link">
              Замена платы внутреннего блока кондиционера
            </a>
          </li>
          <li class="nav-service-list__item">
            <a href="" class="service-list__link-dismantling link"> Демонтаж кондиционера </a>
          </li>

          <li class="nav-service-list__item">
            <a href="" class="service-list__link-refueling link">Заправка кондиционера</a>
          </li>
        </ul>
      </li>
      <li class="cond-nav-item mount">
        <div class="link-button">
          <a href="" class="cond-nav-link-mounting link">Монтаж кондиционера</a>
          <button type="button " class="downMount">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/tablet/header/arrowdown@1x.webp 1x,
                  ./img/tablet/header/arrowdown@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/tablet/header/arrowdown@1x.png 1x,
                  ./img/tablet/header/arrowdown@2x.png 2x
                "
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./img/mobile/header/arrowdown@1x.webp 1x,
                  ./img/mobile/header/arrowdown@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./img/mobile/header/arrowdown@1x.png 1x,
                  ./img/mobile/header/arrowdown@2x.png 2x
                "
              />
              <img class="header__arrowdown" loading="lazy" src="#" alt="раскрыть меню" />
            </picture>
          </button>
          <button type="button " class="upMount is-hidden">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/tablet/header/arrowup@1x.webp 1x,
                  ./img/tablet/header/arrowup@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/tablet/header/arrowup@1x.png 1x,
                  ./img/tablet/header/arrowup@2x.png 2x
                "
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./img/mobile/header/arrowup@1x.webp 1x,
                  ./img/mobile/header/arrowup@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./img/mobile/header/arrowup@1x.png 1x,
                  ./img/mobile/header/arrowup@2x.png 2x
                "
              />
              <img class="header__arrowup" loading="lazy" src="#" alt="закрыть меню" />
            </picture>
          </button>
        </div>
        <ul class="mounting-list list is-hidden">
          <li class="mounting-list__item">
            <a href="" class="mounting-list__link-wall-mounted link"
              >Установка настенного кондиционера</a
            >
          </li>
          <li class="mounting-list__item">
            <a href="" class="mounting-list__link-duct link">Установка канального кондиционера</a>
          </li>
          <li class="mounting-list__item">
            <a href="" class="mounting-list__link-cassette link"
              >Установка кассетного кондиционера</a
            >
          </li>
          <li class="mounting-list__item">
            <a href="" class="mounting-list__link-multisplit link">
              Установка мульти-сплит кондиционеров
            </a>
          </li>
          <li class="mounting-list__item">
            <a href="" class="mounting-list__link-wall-ceiling link">
              Установка настенно-потолочного кондиционера
            </a>
          </li>
          <li class="mounting-list__item">
            <a href="" class="mounting-list__link-window link">Установка оконного кондиционера</a>
          </li>
        </ul>
      </li>
      <li class="cond-nav-item">
        <a href="" class="cond-nav-link-price link">Прайс</a>
      </li>
      <li class="cond-nav-item">
        <a href="" class="cond-nav-link-articles link">Полезные статьи</a>
      </li>
      <li class="cond-nav-item">
        <a href="" class="cond-nav-link-contacts link">Контакты</a>
      </li>
    </ul>
  </nav>
  <div class="header-middle container">
    <h1 class="header__title">
      Установка систем<br />
      кондиционирования
    </h1>
    <p class="header__description">ЛЮБОЙ СЛОЖНОСТИ</p>

    <form class="form">
      <p class="form-title">Оставить заявку</p>
      <p class="form-description">
        Получите наш обновленный прайс-лист со сниженными ценами на все услуги
      </p>
      <input
        class="form-input"
        minlength="2"
        type="text"
        name="username"
        id="form-username"
        placeholder="Имя"
        required
      />
      <input
        class="form-input"
        type="tel"
        name="telephon"
        id="form-telephon"
        placeholder="Ваш телефон"
        required
      />
      <button type="submit" class="button">Просчет цены</button>
    </form>
  </div>
</header>
