<section class="reviews section">
    <div class="container">
        <h1 class="reviews__title title">
            Отзывы
        </h1>
        <ul class="reviews__list list">
            <li class="reviews__item">
                <div class="img-wrapper">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/reviews/photo@1x.webp 1x,
                            ./img/desktop/reviews/photo@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/reviews/photo@1x.jpg 1x,
                            ./img/desktop/reviews/photo@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/reviews/photo@1x.webp 1x,
                            ./img/tablet/reviews/photo@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/reviews/photo@1x.jpg 1x,
                            ./img/tablet/reviews/photo@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/reviews/photo@1x.webp 1x,
                            ./img/mobile/reviews/photo@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/reviews/photo@1x.jpg 1x,
                            ./img/mobile/reviews/photo@2x.jpg 2x
                          "
                        />
                        <img class="reviews__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                      </picture>
                      <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/reviews/portret@1x.webp 1x,
                            ./img/desktop/reviews/portret@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/reviews/portret@1x.png 1x,
                            ./img/desktop/reviews/portret@2x.png 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/reviews/portret@1x.webp 1x,
                            ./img/tablet/reviews/portret@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/reviews/portret@1x.png 1x,
                            ./img/tablet/reviews/portret@2x.png 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/reviews/portret@1x.webp 1x,
                            ./img/mobile/reviews/portret@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/reviews/portret@1x.png 1x,
                            ./img/mobile/reviews/portret@2x.png 2x
                          "
                        />
                        <img class="reviews__portret-item-img" loading="lazy" src="#" alt="портрет" />
                      </picture>
                </div>
                <p class="reviews__name">Алексей Парфёнов</p>
                <p class="reviews__brand-condition">Кондиционер GREE GWH09AAA-K3NNA2A</p>
                <div class="reviews__work-performed">
                    <p class="list__work">Список работ</p>
                    <ul class="list-works list">
                        <li class="list-works__item">— Монтаж кондиционера</li>
                        <li class="list-works__item">— Монтаж внешнего блока</li>
                        <li class="list-works__item">— Монтаж внутреннего блока</li>
                    </ul>
                </div>
                <p class="reviews__description">Спасибо огромное ребятам за установку кондиционера в квартире.
                    <p>Могу рекомендовать ребят, как отличный сервис в этих вопросах.Сроки минимальные. Хороший подход к клиенту</p></p>
            </li>
            <li class="reviews__item"></li>
        </ul>
    </div>
</section>