<section class="useful-articles section">
    <div class="container">
        <h1 class="useful-articles__title title">
            Полезные статьи
        </h1>
        <ul class="list-card list">
            <li class="list-card__item" data-modal-open>
                    <a href="" class="list-card__link link">
                        <div class="list-card__image-wrapper">
                            <picture>
                                <source
                                  media="(min-width: 1440px)"
                                  srcset="
                                    ./img/desktop/mounting/wall-mounted@1x.webp 1x,
                                    ./img/desktop/mounting/wall-mounted@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(min-width: 1440px)"
                                  srcset="
                                    ./img/desktop/mounting/wall-mounted@1x.png 1x,
                                    ./img/desktop/mounting/wall-mounted@2x.png 2x
                                  "
                                />
                                <source
                                  media="(min-width: 768px)"
                                  srcset="
                                    ./img/tablet/mounting/wall-mounted@1x.webp 1x,
                                    ./img/tablet/mounting/wall-mounted@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(min-width: 768px)"
                                  srcset="
                                    ./img/tablet/mounting/wall-mounted@1x.png 1x,
                                    ./img/tablet/mounting/wall-mounted@2x.png 2x
                                  "
                                />
                                <source
                                  media="(max-width: 768px)"
                                  srcset="
                                    ./img/mobile/mounting/wall-mounted@1x.webp 1x,
                                    ./img/mobile/mounting/wall-mounted@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(max-width: 768px)"
                                  srcset="
                                    ./img/mobile/mounting/wall-mounted@1x.png 1x,
                                    ./img/mobile/mounting/wall-mounted@2x.png 2x
                                  "
                                />
                                <img class="mounting__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                              </picture>
                        </div>
                        <div class="list-card__content">                            
                            <p class="list-card__text">Ремонт кондиционеров в Днепре</p>
                        </div>
                    </a>
                </li>
                <li class="list-card__item" data-modal-open>
                    <a href="" class="list-card__link link">
                        <div class="list-card__image-wrapper">
                            <picture>
                                <source
                                  media="(min-width: 1440px)"
                                  srcset="
                                    ./img/desktop/mounting/wall-mounted@1x.webp 1x,
                                    ./img/desktop/mounting/wall-mounted@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(min-width: 1440px)"
                                  srcset="
                                    ./img/desktop/mounting/wall-mounted@1x.png 1x,
                                    ./img/desktop/mounting/wall-mounted@2x.png 2x
                                  "
                                />
                                <source
                                  media="(min-width: 768px)"
                                  srcset="
                                    ./img/tablet/mounting/wall-mounted@1x.webp 1x,
                                    ./img/tablet/mounting/wall-mounted@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(min-width: 768px)"
                                  srcset="
                                    ./img/tablet/mounting/wall-mounted@1x.png 1x,
                                    ./img/tablet/mounting/wall-mounted@2x.png 2x
                                  "
                                />
                                <source
                                  media="(max-width: 768px)"
                                  srcset="
                                    ./img/mobile/mounting/wall-mounted@1x.webp 1x,
                                    ./img/mobile/mounting/wall-mounted@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(max-width: 768px)"
                                  srcset="
                                    ./img/mobile/mounting/wall-mounted@1x.png 1x,
                                    ./img/mobile/mounting/wall-mounted@2x.png 2x
                                  "
                                />
                                <img class="mounting__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                              </picture>
                        </div>
                        <div class="list-card__content">                            
                            <p class="list-card__text">Принцип работы, устройство и виды кондиционеров</p>
                        </div>
                    </a>
                </li>
                <li class="list-card__item" data-modal-open>
                    <a href="" class="list-card__link link">
                        <div class="list-card__image-wrapper">
                            <picture>
                                <source
                                  media="(min-width: 1440px)"
                                  srcset="
                                    ./img/desktop/mounting/wall-mounted@1x.webp 1x,
                                    ./img/desktop/mounting/wall-mounted@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(min-width: 1440px)"
                                  srcset="
                                    ./img/desktop/mounting/wall-mounted@1x.png 1x,
                                    ./img/desktop/mounting/wall-mounted@2x.png 2x
                                  "
                                />
                                <source
                                  media="(min-width: 768px)"
                                  srcset="
                                    ./img/tablet/mounting/wall-mounted@1x.webp 1x,
                                    ./img/tablet/mounting/wall-mounted@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(min-width: 768px)"
                                  srcset="
                                    ./img/tablet/mounting/wall-mounted@1x.png 1x,
                                    ./img/tablet/mounting/wall-mounted@2x.png 2x
                                  "
                                />
                                <source
                                  media="(max-width: 768px)"
                                  srcset="
                                    ./img/mobile/mounting/wall-mounted@1x.webp 1x,
                                    ./img/mobile/mounting/wall-mounted@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(max-width: 768px)"
                                  srcset="
                                    ./img/mobile/mounting/wall-mounted@1x.png 1x,
                                    ./img/mobile/mounting/wall-mounted@2x.png 2x
                                  "
                                />
                                <img class="mounting__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                              </picture>
                        </div>
                        <div class="list-card__content">                            
                            <p class="list-card__text">Как выбрать кондиционер</p>
                        </div>
                    </a>
                </li>
          </ul>
    </div>
</section>