.header-middle.container.cleaner {
  height: 737px;
  background: url(../img/mobile/header/cleaner-mb-bg.jpg) no-repeat;
  background-size: 100%;
  color: var(--header-text-color);
  padding-top: 215px;
}
@media screen and (min-width: 1440px) {
  .header-middle.container.cleaner {
    height: 776px;
    background: url(../img/desktop/header/cleaner-dk-bg.jpg) no-repeat;
    padding-top: 144px;
  }
  .header-middle.container.cleaner .header__title,
  .header-middle.container.cleaner .header__description {
    color: #fff;
  }
}
