.header-middle.container.dismantling {
  height: 737px;
  background: url(../img/mobile/header/diagnostics-header-bg.jpg) no-repeat;
  background-size: 100%;
  color: var(--header-text-color);
  padding-top: 215px;
}
@media screen and (min-width: 1440px) {
  .header-middle.container.dismantling {
    height: 776px;
    background: url(../img/desktop/header/diagnostics-dk-bg.jpg) no-repeat;
    padding-top: 120px;
    margin-bottom: 50px;
  }

  .header-middle.container.dismantling .header__title,
  .header-middle.container.dismantling .header__description {
    color: #fff;
  }
}
