.header.section{
  padding-top: 18px;
}
.openNav {
  background-color: #fff;
  padding-left: 0;
  border: none;
}
.closeNav {
  background-color: #fff;
  padding-left: 0;
  border: none;
}
.nav-container {
  position: relative;
}
.nav {
  color: var(--header-text-color);
  @include font(18px, 20px);
  font-weight: 500;
  padding-left: 20px;
  position: absolute;
  background: #fff repeat-y;
  left: 0;
  top: 60px;
  width: 100vw;
  z-index: 1000;
  & li {
    margin-bottom: 12px;
  }
}
.nav-service-list {
  @include font (16px, 18px);
  margin-top: 12px;
  font-weight: 400;
  padding-left: 10px;
  color: #000;
}
.mounting-list {
  @include font (16px, 18px);
  margin-top: 12px;
  font-weight: 400;
  padding-left: 10px;
  color: #000;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding-bottom: 18px;
}

.down {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.up {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.downMount {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.upMount {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.link-button{
  display: flex;
  align-items: center;
}
.header-middle{
  margin: 0 auto;
  max-width: 425px;
    height: 100vh;
  background: center / cover  url(../img/mobile/header/bg-mobile.jpg) no-repeat;
  padding-top: 215px;
  color:var(--header-text-color);
}
.header__title{
  @include font (24px, 28px);
  font-weight: 700;
text-align: center;
margin-bottom: 18px;
}
.header__description{
  font-weight: 500;
  @include font (20px, 40px);
  text-align: center;
  margin-bottom: 33px;
}
.header-form{
  margin: 0 auto;
  background: #fff;
  min-width: 290px;
  width:317px;
  border-radius: 9px;
}
.form{
  padding: 24px 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-title{
  font-weight: 900;
  @include font (24px, 30px);
text-align: center;
color: var(--header-text-color);
margin-bottom: 15px;
}
.form-description{
  @include font (14px, 19px);
color: #6B6B6B;
margin-bottom: 15px;
}
.form-input{
  padding-left: 13px;
  height: 40px;
  width: 244px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.6;
border: 2px solid #262C9B;
border-radius: 5px;
margin-bottom: 20px;
}
::placeholder{
  font-style: italic;
font-weight: 300;
@include font (12px, 15px);
color: #989898;
}
.form .button{
  padding: 8px 78px;
  font-weight: 500;
  @include font (16px, 25px);
}

