.openNav {
  background-color: #fff;
  border: none;
}
.closeNav {
  background-color: #fff;
  border: none;
}
.nav-container {
  position: relative;
}
.nav {
  color: var(--header-text-color);
  @include font(14px, 16px);
  font-weight: 500;
  padding-left: 20px;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 100px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  & li {
    margin-bottom: 12px;
  }
}
.nav-service-list {
  font-weight: 400;
  padding-left: 50px;
  color: #000;
}
.mounting-list {
  font-weight: 400;
  padding-left: 50px;
  color: #000;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.down {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.up {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.downMount {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.upMount {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.link-button{
  display: flex;
  align-items: center;
}
