.header.section {
  padding-top: 18px;
  padding-bottom: 0;
}

.section {
  padding-bottom: 0;
}
.openNav {
  background-color: #fff;
  padding-left: 0;
  border: none;
}
.closeNav {
  background-color: #fff;
  padding-left: 0;
  border: none;
}
.nav-container {
  position: relative;
}
.nav {
  color: var(--header-text-color);
  @include font(18px, 20px);
  font-weight: 500;
  padding-left: 20px;
  position: absolute;
  background: #fff repeat-y;
  left: 0;
  top: 60px;
  width: 100vw;
  z-index: 1000;
  & li {
    margin-bottom: 12px;
  }
}
.nav-service-list {
  @include font(16px, 18px);
  margin-top: 12px;
  font-weight: 400;
  padding-left: 10px;
  color: #000;
}
.mounting-list {
  @include font(16px, 18px);
  margin-top: 12px;
  font-weight: 400;
  padding-left: 10px;
  color: #000;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
}

.down {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.up {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.downMount {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.upMount {
  border: none;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.link-button {
  display: flex;
  align-items: center;
}
.header-middle.container {
  height: 737px;
  background: url(../img/mobile/header/bg-mobile.jpg) no-repeat;
  background-size: 100%;
  color: var(--header-text-color);
  padding-top: 215px;
}

.header__title {
  @include font(24px, 28px);
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
}
.header__description {
  font-weight: 500;
  @include font(20px, 40px);
  text-align: center;
  margin-bottom: 33px;
}

.form {
  background: #fff;
  max-width: 317px;
  padding: 24px 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  margin: 0 auto;
}
.form-title {
  font-weight: 900;
  @include font(24px, 30px);
  text-align: center;
  color: var(--header-text-color);
  margin-bottom: 15px;
}
.form-description {
  font-weight: 300;
  @include font(14px, 19px);
  color: #6b6b6b;
  margin-bottom: 15px;
}
.form-input {
  width: 100%;
  display: block;
  padding-left: 13px;
  height: 40px;
  opacity: 0.6;
  border: 2px solid #262c9b;
  border-radius: 5px;
  margin-bottom: 20px;
}
::placeholder {
  font-style: italic;
  font-weight: 300;
  @include font(12px, 15px);
  color: #989898;
}
.form .button {
  padding: 8px 78px;
  font-weight: 500;
  @include font(16px, 25px);
}
@media screen and(min-width:768px) {
  .header.section {
    padding-top: 25px;
  }
  .header-top {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 25px;
  }
  .header-middle.container {
    height: 913px;
    background: url(../img/tablet/header/bg-tablet.jpg) no-repeat;
    padding-top: 315px;
  }
  .nav {
    @include font(20px, 22px);
    font-weight: 500;
    padding-left: 75px;
    position: absolute;
    background: #fff repeat-y;
    left: 0;
    top: 88px;
    & li {
      margin-bottom: 15px;
    }
  }
  .nav-service-list {
    @include font(18px, 20px);
    margin-top: 15px;
  }
  .mounting-list {
    @include font(18px, 20px);
    margin-top: 15px;
  }
  .header__title {
    @include font(48px, 56px);
    font-weight: 700;
    margin-bottom: 27px;
  }
  .header__description {
    @include font(36px, 40px);
    margin-bottom: 27px;
  }

  .form {
    max-width: 420px;
    padding: 27px 36px;
  }
  .form-title {
    margin-bottom: 21px;
  }
  .form-description {
    @include font(18px, 19px);
    margin-bottom: 26px;
  }
  .form-input {
    padding-left: 17px;
    height: 46px;
    margin-bottom: 23px;
  }
  ::placeholder {
    @include font(16px, 16px);
  }
  .form .button {
    padding: 10px 120px;
  }
}
@media screen and (min-width: 1440px) {
  .openNav {
    display: none;
  }
  .closeNav {
    display: none;
  }
  .contacts {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    background: #2f4377;
    color: #fff;
    padding-left: 0;
  }
  .cond-nav-list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    & li {
      margin-bottom: 0;
    }
  }
  .header__arrowdown {
    font-size: 0;
    background-color: #2f4377;
  }
  .down,
  .downMount {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header__arrowup {
    background-color: #2f4377;
  }
  .up {
    padding: 0;
  }
  .upMount {
    padding-top: 0;
    padding-bottom: 0;
  }
  .link-button {
    padding-right: 20px;
    display: flex;
    align-items: center;
  }
  .cond-nav-item.service {
    position: relative;
  }
  .cond-nav-link-company,
  .cond-nav-link-service,
  .cond-nav-link-mounting,
  .cond-nav-link-price,
  .cond-nav-link-articles,
  .cond-nav-link-contacts {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cond-nav-list li a:hover,
  .cond-nav-list li a:focus {
    color: var(--header-text-color);
    background: #b6dcfe;
  }
  .cond-nav-item:hover .link-button,
  .cond-nav-item:hover .header__arrowdown,
  .cond-nav-item:hover .header__arrowup,
  .cond-nav-item:focus .link-button,
  .cond-nav-item:focus .header__arrowdown,
  .cond-nav-item:focus .header__arrowup {
    color: var(--header-text-color);
    background: #b6dcfe;
  }
  .nav-service-list {
    padding-top: 11px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    margin-top: 0;
    background: #b6dcfe;
    left: -64px;
    top: 100%;
    width: 275px;
    height: 400px;
  }

  .cond-nav-item.mount {
    position: relative;
  }
  .mounting-list {
    padding-top: 11px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    margin-top: 0;
    background: #b6dcfe;
    left: 0;
    top: 100%;
    width: 283px;
    height: 545px;
  }
  .cond-nav-link-service,
  .cond-nav-link-mounting {
    padding-right: 0;
  }
  .nav-service-list__item,
  .mounting-list__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-top: 17px;
    padding-bottom: 17px;
    @include font(18px, 25px);
    font-weight: 400;
    color: var(--header-text-color);
    &:last-child {
      border: none;
    }
  }
  .header-middle.container {
    height: 858px;
    background: url(../img/desktop/header/bg-desktop.jpg) no-repeat;
    padding-top: 123px;
  }

  .header__title {
    padding-left: 75px;
    text-align: left;
    @include font(60px, 59px);
    margin-bottom: 59px;
  }
  .header__description {
    padding-left: 75px;
    text-align: left;
    font-weight: 700;
    @include font(40px, 40px);
    margin-bottom: 61px;
  }
  .button.desktop {
    padding: 10px 95px;
    margin-left: 0;
  }
  .form {
    background: #fff;
    max-width: 388px;
    padding: 26px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    margin-left: 75px;
  }
  .form-title {
    @include font(32px, 30px);
    margin-bottom: 22px;
  }
  .form-description {
    @include font(16px, 19px);
    margin-bottom: 22px;
  }
  .form-input {
    padding-left: 12px;
    height: 40px;
    margin-bottom: 23px;
  }
}
