.openNav {
  background-color: #fff;
  border: none;
}
.closeNav {
  background-color: #fff;
  border: none;
}
.nav-container {
  position: relative;
}
.nav {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 100px;
  width: 100vw;
  height: 100vw;
  z-index: 1000;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
