.mounting__title {
  text-align: center;
  margin-bottom: 50px;
}
.mounting__list {
}
.mounting__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 179px;
  background: var(--service-background);
  margin-bottom: 40px;
  border-radius: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}
.mounting__list-item-link {
  color: var(--nav-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  //margin-left: calc(-1 * 16px);
  & > * {
    flex-basis: calc((100% - 4 * 16px) / 2);
    margin-left: 16px;
  }
}
.mounting__list-item-img {
}
.mounting__list-item-deskription {
  display: inline-block;
}
