.header-middle.container.repair {
  height: 737px;
  background: url(../img/mobile/header/diagnostics-header-bg.jpg) no-repeat;
  background-size: 100%;
  color: var(--header-text-color);
  padding-top: 215px;
}
@media screen and (min-width: 1440px) {
  .header-middle.container.repair {
    height: 776px;
    background: url(../img/desktop/header/diagnostics-dk-bg.jpg) no-repeat;
<<<<<<< Updated upstream
    padding-top: 120px;
    margin-bottom: 50px;
=======
    padding-top: 144px;
>>>>>>> Stashed changes
  }

  .header-middle.container.repair .header__title,
  .header-middle.container.repair .header__description {
    color: #fff;
  }
}
